@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap'); 

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif; 
}

@media only screen and (max-width: 600px) {
    .containerPage1, .containerPage2 {
        flex-direction: column;
    }
    .containerPage1 .leftPanel, 
    .containerPage1 .rightPanel
    .containerPage2 .leftPanel, 
    .containerPage2 .rightPanel {
        width: 100%;
    }
    .containerPage1 .imgBx .box {
        width: 50%;
    }
}

body {
    background: rgb(204,204,204); 
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
}

page  {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    position: relative;
}

page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
}

@page {
    size: 21cm 29.7cm;
    padding: 0;
    margin: 0mm;
    border: none;
    border-collapse: collapse;
}

.containerPage1 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    page-break-after: always;
}

.containerPage1 .leftPanel {
    width: 30%;
    background-color: #484444;
    padding: 0.7cm;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    width: 100%;  /* Set the width you desire */
    height: auto; /* Maintain aspect ratio */
    filter: grayscale(100%); /* Convert the image to black and white */
    max-width: 150px;   /* Adjusts the maximum width to a size that fits well */
    border-radius: 50%;
}

.containerPage1 .leftPanel .imgBx {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerPage1 .leftPanel .imgBx .box {
    position: relative;
    width: 70%;
    min-width: 160px;
    padding-top: 70%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 0.87;
}

.containerPage1 .leftPanel .imgBx .box img { 
    position: absolute; 
    top: 50%; /* Center the image vertically */ 
    left: 50%; /* Center the image horizontally */ 
    width: 100%; 
    height: 100%; 
    object-fit: cover; /* Ensure the image covers the container */ 
    transform: translate(-50%, -50%); /* Adjust for the center position */
}

.item {
    padding: 0.7cm 0; /* Uniform padding on top and bottom */
}

.item h4 {
    margin: 0; /* Remove extra margin around headers */
}

.item.bottomLineSeparator {
    border-bottom: 0.05cm solid white;
    margin-bottom: 0; /* Adds space below the line for separation */
}

.leftPanel h4 {
    color: white;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.containerPage1 .leftPanel .details h4 {
    align-items: left;
    margin-bottom: 0;
}

.containerPage1 .leftPanel .details .contact {
    margin: 0; /* Reset margin to prevent extra space */
}

.containerPage1 .leftPanel .details .contact li {
    list-style: none;
    margin: 0.1cm 0; /* Minimal spacing between contact items */
    line-height: 1em;
    color: #fff;
    cursor: pointer;
    display: flex;
}

.containerPage1 .leftPanel .details .contact li .icon ion-icon {
    font-size: 1em;
    margin-right: 10px;
    color: #fff;
}

.containerPage1 .leftPanel .details .contact li span.text {
    font-size: 12px;
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.containerPage1 .leftPanel .details .contact li:last-child {
    margin-bottom: 0; /* Removes extra space below the last contact detail */
}

.containerPage1 .leftPanel .details ul.contact li a {
    color: white !important;
    text-decoration: none !important;
}

.containerPage1 .leftPanel .details ul.contact li a:hover {
    text-decoration: underline !important;
}


.item.bottomLineSeparator h4 {
    margin-bottom: 0.5cm; /* Space between the header and the line */
}

.containerPage1 .leftPanel .details .skills
{
    margin: 0; /* Reset margin to prevent extra space */
}

.containerPage1 .leftPanel .details .skills h5
{
    list-style: none;
    margin: 0.2cm 0; /* Minimal spacing between contact items */
    line-height: 1em;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: 300;
}

.containerPage1 .leftPanel .details .tools
{
    margin: 0; /* Reset margin to prevent extra space */
}

.containerPage1 .leftPanel .details .tools h5
{
    list-style: none;
    margin: 0.2cm 0; /* Minimal spacing between contact items */
    line-height: 1em;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: 300;
}


.containerPage1 .rightPanel 
{
    width: 70%;
    padding: 0.7cm;
    background-color: #f4f4f4; /* Light background for contrast */
    border-radius: 5px; /* Slightly round the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}

.containerPage1 .rightPanel .name 
{
    text-align: center; /* Center align the header */
    margin-bottom: 0; /* Space below header */
}

.containerPage1 .rightPanel .jobPosition 
{
    text-align: center; /* Center align the header */
    color: #787474;
    margin-bottom: 40px; /* Space below header */
} 


.containerPage1 .rightPanel .title-spacing {
    position: relative;
    padding-bottom: 8px; /* Consistent padding for both headings */
    line-height: 1.2; /* Ensures consistent line spacing */
    font-size: 18px; /* Consistent font size */
    font-weight: bold;
    margin: 0; /* Remove extra margins */
}

.containerPage1 .rightPanel .title-spacing::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px; /* Thickness of the underline */
    background-color: black; /* Color of the underline */
    width: 100%; /* Full width underline */
}



.containerPage1 .rightPanel .profile 
{
    text-align: justify; /* Center align the header */
    color: #333;
    margin-bottom: 20px; /* Space below header */
    font-size: 0.9em;
    margin-top: 20px;
} 




.containerPage1 .rightPanel .work 
{
    margin-top: 0.5cm; /* Space above the work section */
    margin-bottom: 0;
}

.containerPage1 .rightPanel .work .box .year_company 
{
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center vertically */
    margin-bottom: 0; /* Space below each year/company section */
}

.containerPage1 .rightPanel .work .box .year_company h5
{
    font-size: 16px;
    color: #333;
}

.containerPage1 .rightPanel .work .box .text h4
{
    font-size: 14px;
    color: #333; 
}

.containerPage1 .rightPanel .work .box .text p
{
    text-align: justify;;
    color: #333; 
    margin-bottom: 20px; /* Space below header */
    font-size: 0.9em;
}

.work .box {
    margin-bottom: 1cm;
}










/* PAGE 2 */


.containerPage2 {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    page-break-after: always;
}

.containerPage2 .leftPanel {
    width: 30%;
    background-color: #484444;
    padding: 0.7cm;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.item {
    padding: 0.7cm 0; /* Uniform padding on top and bottom */
}

.item h4 {
    margin: 0; /* Remove extra margin around headers */
}

.item.bottomLineSeparator {
    border-bottom: 0.05cm solid white;
    margin-bottom: 0; /* Adds space below the line for separation */
}

.leftPanel h4 {
    color: white;
}

.details {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.containerPage2 .leftPanel .details h4 {
    align-items: left;
    margin-bottom: 0;
}


.containerPage2 .leftPanel .details .certifications .course .text {
    font-size: 10px;
    display: inline-block;
    max-width: 100%;
    word-wrap: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

.containerPage2 .leftPanel .details .contact li:last-child {
    margin-bottom: 0; /* Removes extra space below the last contact detail */
}

.containerPage2 .leftPanel .details .certifications .course a {
    color: white !important;
    text-decoration: none !important;
}

.containerPage2 .leftPanel .details .certifications .course a:hover {
    text-decoration: underline !important;
}


.containerPage2 .leftPanel .details ul.certifications li
{
    margin: 1em 0; /* Reset margin to prevent extra space */
    padding: 0;
    list-style-type: none;
}

.containerPage2 .leftPanel .details ul.certifications li h5
{
    color: #fff;
    font-weight: 600;
    margin: 5px 0;
}

.containerPage2 .leftPanel .details ul.certifications li .course h6
{
    color: #fff;
    font-weight: 200;
    font-size: 0.9em;
}

.containerPage2 .leftPanel .details ul.certifications li .course h5
{
    color: #fff;
    font-weight: 400;
    margin: 5px 0;
}

.course h5,
.course h6 
{
    line-height: 1.2; /* Reduces spacing between lines */
    margin: 0; /* Reset margin to avoid extra space */
}

.item.bottomLineSeparator:last-child 
{
    margin-bottom: 0; /* Removes extra space below the last item */
}

.containerPage2 .leftPanel .details ul.certifications li:last-child 
{
    margin-bottom: 0; /* Removes extra space below the last certification */
}




.item.bottomLineSeparator h4 {
    margin-bottom: 0.5cm; /* Space between the header and the line */
}

.containerPage2 .leftPanel .details .language
{
    margin: 0; /* Reset margin to prevent extra space */
}

.containerPage2 .leftPanel .details .language h5
{
    list-style: none;
    margin: 0.2cm 0; /* Minimal spacing between contact items */
    line-height: 1em;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: 300;
}

.containerPage2 .leftPanel .details .interest
{
    margin: 0; /* Reset margin to prevent extra space */
}

.containerPage2 .leftPanel .details .interest h5
{
    list-style: none;
    margin: 0.2cm 0; /* Minimal spacing between contact items */
    line-height: 1em;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: 300;
}

.containerPage2 .leftPanel .details .references
{
    margin: 0; /* Reset margin to prevent extra space */
}

.containerPage2 .leftPanel .details .references h5
{
    list-style: none;
    margin: 0.2cm 0; /* Minimal spacing between contact items */
    line-height: 1em;
    color: #fff;
    cursor: pointer;
    display: flex;
    font-weight: 300;
}

.containerPage2 .rightPanel 
{
    width: 70%;
    padding: 0.7cm;
    background-color: #f4f4f4; /* Light background for contrast */
    border-radius: 5px; /* Slightly round the corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}


.containerPage2 .rightPanel .title-spacing {
    position: relative;
    padding-bottom: 5px; /* Adjust padding as needed */
    margin-top: 1.4em;
    margin-bottom: 1em; /* Adjust this value for more or less space */
}

.containerPage2 .rightPanel .title-spacing::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 3px; /* Adjust thickness here */
    background-color: black;
}





.containerPage2 .rightPanel .education
{
    text-align: justify; /* Center align the header */
    color: #333;
    margin-bottom: 20px; /* Space below header */
    font-size: 0.9em;
} 







.containerPage2 .rightPanel .education 
{
    margin-top: 0.5cm; /* Space above the work section */
    margin-bottom: 30px;
}

.containerPage2 .rightPanel .education .box .year_course
{
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center vertically */
    margin-bottom: 0; /* Space below each year/company section */
}

.containerPage2 .rightPanel .education .box .year_course h5
{
    font-size: 14px;
    color: #333;
    margin-bottom: 0;
}

.containerPage2 .rightPanel .education .box .text h4
{
    font-size: 14px;
    color: #333; 
    font-weight: 400;
    margin-bottom: 0;
}

.containerPage2 .rightPanel .education .box .text
{
    text-align: justify;;
    color: #333; 
    margin-bottom: 20px; /* Space below header */
    font-size: 0.9em;
}

.containerPage2 .rightPanel .education .box {
    margin-bottom: -10px;
}




.containerPage2 .rightPanel .projects 
{
    margin-top: 0.5cm; /* Space above the work section */
    margin-bottom: 0;
}

.containerPage2 .rightPanel .projects .box .topic_type
{
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Space between items */
    align-items: center; /* Center vertically */
    margin-bottom: 0; /* Space below each year/company section */
}

.containerPage2 .rightPanel .projects .box .topic_type h5
{
    font-size: 14px;
    color: #333;
    margin-bottom: 0;
}

.containerPage2 .rightPanel .projects .box .text h4
{
    font-size: 14px;
    color: #333; 
    font-weight: 400;
    margin-bottom: 0;
}

.containerPage2 .rightPanel .projects .box .text
{
    text-align: justify;;
    color: #333; 
    margin-bottom: 20px; /* Space below header */
    font-size: 0.9em;
}

.containerPage2 .rightPanel .projects .box {
    margin-bottom: -10px;
}

.containerPage2 .rightPanel .projects .box .topic_type .topic a {
    color: #333 !important;
    text-decoration: none !important;
}

.containerPage2 .rightPanel .projects .box .topic_type .topic a:hover {
    text-decoration: underline !important;
}
